body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: #000102;
  color: white;
}

.container {
  padding: 30px;
  max-width: 900px;
  margin: auto;
}

h1 {
  text-align: center;
  margin-bottom: 30px;
}

.stats {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
  margin-bottom: 40px;
}

.card {
  background: #020550d0;
  padding: 20px;
  border-radius: 12px;
  text-align: center;
}

.actions {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 15px;
}

button {
  background: #2806e7;
  color: white;
  border: none;
  padding: 15px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 15px;
  transition: transform 0.15s ease, background 0.15s ease;
}

button:hover {
  background: #334155;
  transform: scale(1.03);
}

.penalty {
  margin-top: 30px;
  text-align: center;
}

.penalty button {
  background: rgb(242, 2, 18);
}

.penalty button:hover {
  background: #991b1b;
}
.nav {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 30px;
}

.graph {
  display: flex;
  align-items: flex-end;
  gap: 10px;
  height: 200px;
  margin-top: 30px;
}

.bar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30px;
}

.bar {
  width: 100%;
  background: rgb(2, 30, 242);
  border-radius: 6px 6px 0 0;
  transition: height 0.3s ease;
}

.bar-container span {
  margin-top: 6px;
  font-size: 12px;
  color: #94a3b8;
}
